/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN CSS */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #141519;
    font-family: 'Overpass', sans-serif;
}

/* ---- FEEDBACK CARD ---- */

.feedbackCard,
.returnCard {
    width: 415px;
    height: 415px;
    padding: 35px;
    border-radius: 40px;
    background-color: #222933;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.hide {
    display: none;
}


#star-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f3a44;
    border-radius: 50%;
}

h1 {
    color: white;
}

p {
    color: #9ea5af;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}

.text-center {
    text-align: center;
}

.ratingContainer {
    display: flex;
    justify-content: space-between;
}

.rating {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f3a44;
    border-radius: 50%;
    color: #9ea5af;
    cursor: pointer;
    transition: 0.2s ease;
}

.rating:hover {
    background-color: #fc7613;
    color: white;
}

.selectedRating {
    background-color: #9ea5af;
    color: white;
}

.errorRating {
    background-color: red;
    color: white;
    transition: 0.3s ease;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 2px;
    background-color: #fc7613;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease;
    outline: none;
    border: none;
}

button:hover {
    background-color: white;
    color: #fc7613;
}

/* ---- RETURN CARD ---- */

.returnValue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: auto;
    padding: 10px 15px;
    border-radius: 50px;
    color: #fc7613;
    background-color: #2f3a44;
    font-size: 16px;
}

h2 {
    color: white;
}

.return-text {
    text-align: center;
}

@media screen and (max-width: 450px) {

    .feedbackCard,
    .returnCard {
        margin: 0px 10px;
        width: 330px;
        height: 360px;
    }

    #star-icon {
        width: 40px;
        height: 40px;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
        line-height: 21px;
    }

    .rating {
        width: 40px;
        height: 40px;
    }

    button {
        height: 40px;
        font-size: 13px;
    }

    #return-illustration {
        text-align: center;

    }

    #return-illustration>img {
        width: 70%;
    }

    .returnValue {
        margin-bottom: 20px;
    }

}